ul.top-nav-1 {
    list-style: none;
    padding: 0 20px;
    margin: 0;
    float: left;
    width: 920px;
    font-size: 1.2em;
}

ul.top-nav-1 li {
    float: left;
    margin: 0;
    padding: 0 5px 0 0;
    position: relative; /*--Declare X and Y axis base for sub navigation--*/
}

ul.top-nav-1 li a {
    padding: 10px 5px;

    display: block;
    text-decoration: none;
    float: left;
}

ul.top-nav-1 li a:hover {
    background: url(topnav_hover.gif) repeat-x center center;
    color: #111;
}

ul.top-nav-1 li span {
    /*--Drop down trigger styles--*/
    width: 17px;
    height: 35px;
    float: left;
    background: url(subnav_btn.gif) no-repeat center bottom;
}

ul.top-nav-1 li span.subhover {
    background-position: center bottom;
    cursor: pointer;
}

/*--Hover effect for trigger--*/
ul.top-nav-1 li ul.top-nav-2 {
    list-style: none;
    position: absolute; /*--Important - Keeps top-nav-2 from affecting main navigation flow--*/
    left: 0;
    top: 35px;
    background: #f7f6f6;
    margin: 0;
    padding: 0;
    display: none;
    float: left;
    width: 170px;
    -webkit-box-shadow: 0px 0px 6px 2px #d6edf5;
    -moz-box-shadow: 0px 0px 6px 2px #d6edf5;
    box-shadow: 0px 0px 6px 2px #d6edf5;
}

ul.top-nav-1 li ul.top-nav-2 li {
    margin: 0;
    padding: 0;
    border-top: 1px solid #e6e4e4; /*--Create bevel effect--*/
    border-bottom: 1px solid #edecec; /*--Create bevel effect--*/
    clear: both;
    width: 170px;
}

html ul.top-nav-1 li ul.top-nav-2 li a {
    float: left;
    width: 145px;
    background: #fff url(dropdown_linkbg.gif) no-repeat 10px center;
    padding-left: 20px;
}

html ul.top-nav-1 li ul.top-nav-2 li a:hover {
    /*--Hover effect for top-nav-2 links--*/
    background: #e3f8ff url(dropdown_linkbg.gif) no-repeat 10px center;
}

.top-nav-selected {
    font-weight: bold;
}

/* Deprecated browser support */
.ie6 ul.top-nav-1 li ul.top-nav-2,
.ie7 ul.top-nav-1 li ul.top-nav-2,
.ie8 ul.top-nav-1 li ul.top-nav-2 {
    border: 1px solid #d6edf5;
}