/*
 * Common color definitions
 * Palette definition: http://www.colourlovers.com/palette/809/Penquins
*/

// Gray
$black-night:       #222;
$dark-gray:         #32373C;
$footer-gray:       #777;
$mac-header:        #545454;
$light-gray:        #E8E8E8;
$polar-bear-white:  #FBFAFF;
$touching-white:    #F1F6F1;
$white:             #FFF;


// Accent colors
$silver-blue:       #839CA5;
$light-green: #DFDFCC;
$vivid-green: #B6DF12;


// Measurements
$container-width: 80%;
$min-container-width: 800px;
$default-padding: 20px;


// Typography
$big: 2em;
$large: 2.5em; // Iconic
$huge: 3.5em;


@mixin rounded($radius: 10px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin rounded-corners($topleft: 10px, $topright: 10px, $bottomright: 10px, $bottomleft: 10px) {
    -moz-border-radius-topleft: $topleft;
    -moz-border-radius-topright: $topright;
    -moz-border-radius-bottomright: $bottomright;
    -moz-border-radius-bottomleft: $bottomleft;
    -webkit-border-radius: $topleft $topright $bottomright $bottomleft;
    border-radius: $topleft $topright $bottomright $bottomleft;
}

@mixin shadow($blur: 10px, $spread: 1px, $color: #888888) {
    -webkit-box-shadow: 0px 0px $blur $spread $color;
    -moz-box-shadow: 0px 0px $blur $spread $color;
    box-shadow: 0px 0px $blur $spread $color;
}

@mixin text-shadow($blur: 2px, $color: #222222, $horizontal: 2px, $vertical: 2px) {
	text-shadow: $horizontal $vertical $blur $color;
	filter: dropshadow(color=$color, offx=$horizontal, offy=$vertical);
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue/BebasNeue-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}