
/* Common */

ul {
    margin: 6px 2px;
}

.error-text {
    color: #ff0000;
}

.nowrap {
    white-space: nowrap;
}

.large {
    font-size: 1.4em
}

.small {
    font-size: .8em
}

.small td,
.small th {
    font-size: 12px !important;

}

.strong {
    font-weight: bold;
}

.faint {
    color: #666;
    font-style: italic;
}
