/* Stylesheet for sortable tables */

table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
    padding: 4px 20px;
    border-bottom: 1px solid #222;
	cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    padding: 10px 20px;
}

table.tablesorter {
    font-size: 1em;
    text-align: left;
}

table.tablesorter tfoot {
    border-top: 1px solid #333;
    border-bottom: 2px solid #333;
    margin-top: 10px;
}

