/**
 * Styles for SOL Kalenderrakendus
 * @author Ando Roots 2011
 * @copyright Diara OÜ
**/

@import "typo.scss";
@import "tables.scss";
@import "definitions.scss";

body {
    font-size: 0.8em;
    font-family: Verdana, Tahoma, sans-serif;
    background-color: #f2f2f2;

}

#container {
    background-color: #FFFFFF;
    border: 10px solid #FFFFFF;
    -moz-border-radius: 10px;
    border-radius: 10px;
    min-height: 300px;
}

header {
    height: 98px;
    background: #fde15d url('../img/header_bg.png') no-repeat;


     h1,
     img {
        margin: 10px;
    }
    
     h1 {
        display: inline;
        font-size: 26px;
        font-family: BebasNeueRegular, sans-serif;
        color: #333;
    }
}

#main-menu {
    height: 26px;
    background-color: #fff;
    border-top: 1px solid #ffcb08;


    ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;

    
        li {
            margin: 0px;
            padding: 0px;
            float: left;
            border-right: 1px dotted #c3c3c3;
        }

        a {
            color: #000;
            padding: 5px 10px;
            display: block;
            font-size: 14px;
        }

        a:hover, ul#nav_links a.active {
            color: #ff0000;
            background-color: #fffae1;
        }
    }
}

#main {
    height: auto;
    min-height: 500px;
    padding: 10px 40px 10px 40px;
    background-color: #fff;
    border-top: 1px solid #ffcb08;
    border-bottom: 2px solid #ffcb08;
}

footer {
    height: 30px;
    border-top: 1px solid #fff;
    background-color: #fde15d;
    text-align: center;
    padding-top: 8px;
}


#calendar,
#employee_calendar {
    width: auto;
    max-width: 1000px;
    margin-bottom: 2em;
}

/* Modifications apart from training */
#main h1,
#main h2 {
    border-bottom: 2px solid #555;
    margin: 20px;
    margin-left: -15px;
    font: 22px BebasNeueRegular, sans-serif;
}

#main h2 {
    font: 20px BebasNeueRegular, sans-serif;
    border-bottom: 2px solid #555;
    display: inline-block;
}


.float-box {
    float: left;
    padding-right: 20px;
    margin: 4px 20px;
}

.narrow-box {
    max-width: 350px;
    white-space: normal;
    word-wrap: break-word;
}

.box {
    padding: 20px;
    margin:  10px;
    background-color: #CBD8A9;
    text-align: justify;
}

.transparent {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity = 50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}


.spacer {
    margin: 15px 5px;
}

.wrap {
    word-wrap: break-word;
}

.margin-center {
    margin-left: auto;
    margin-right: auto;
}

.centered {
    text-align: center !important;
}

.verical-spacer {
    margin-top: 5em;
}

.right {
    float: right;
    margin-right: 20px;
}

.clickable {
    cursor: pointer;
}