@import "data-table.scss";

.new_section td {
    border-top: 1px solid #555;
}

/** Color codes for table rows **/

.not-billed {
    background-color: #BE2213;
    color: #fff;
}

.billed {
    background-color: #A7CC95;
    color: #111;
}

caption {
    font-size: 16px;
    text-align: center;
    margin-bottom: 6px;
}

.tablesorter thead th {
    cursor: pointer;
}