@font-face{font-family:'BebasNeueRegular';src:url("../fonts/BebasNeue/BebasNeue-webfont.eot");src:url("../fonts/BebasNeue/BebasNeue-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeue/BebasNeue-webfont.woff") format("woff"), url("../fonts/BebasNeue/BebasNeue-webfont.ttf") format("truetype");font-weight:normal;font-style:normal}
