/**
 * Styles for SOL Kalenderrakendus
 * @author Ando Roots 2011
 * @copyright Diara OÜ
**/
/* Common */
ul {
  margin: 6px 2px; }

.error-text {
  color: #ff0000; }

.nowrap {
  white-space: nowrap; }

.large {
  font-size: 1.4em; }

.small {
  font-size: .8em; }

.small td, .small th {
  font-size: 12px !important; }

.strong {
  font-weight: bold; }

.faint {
  color: #666;
  font-style: italic; }

/** Table for displaying formated data, reports */
.data-table {
  border: 1px solid black;
  border-radius: 4px;
  background-color: #ebebeb;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.75);
  margin: 10px 2px;
  font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
  padding: 0; }

.data-table caption {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 6px; }

.data-table thead {
  background-color: #fcf1c0;
  border-bottom: 2px solid #333;
  margin-bottom: 10px; }

.data-table thead td, .data-table thead th {
  border-width: 0; }

.data-table thead tr:last-of-type th {
  padding-bottom: 15px;
  border-bottom: 2px solid black; }

.data-table thead td {
  border-top-color: #444; }

.data-table th {
  padding: 5px; }

.data-table tbody th {
  background-color: #fcf1c0;
  border-right: 1px solid #333;
  margin-right: 10px; }

.data-table tbody {
  border-left: 1px solid #555;
  border-right: 1px solid #555;
  padding: 4px; }

.data-table td {
  padding: 2px 10px;
  text-align: left;
  font-size: 14px; }

.data-table tbody tr:hover td {
  background-color: #E5E0AE !important; }

.data-table tbody .not-billed:hover {
  color: #111; }

.data-table tfoot {
  border-top: 1px solid #333;
  border-bottom: 2px solid #333;
  margin-top: 10px; }

.data-table tfoot th, .data-table tfoot td {
  font-weight: bold;
  background-color: #CBD8A9;
  border-width: 0; }

.new_section td {
  border-top: 1px solid #555; }

/** Color codes for table rows **/
.not-billed {
  background-color: #BE2213;
  color: #fff; }

.billed {
  background-color: #A7CC95;
  color: #111; }

caption {
  font-size: 16px;
  text-align: center;
  margin-bottom: 6px; }

.tablesorter thead th {
  cursor: pointer; }

/*
 * Common color definitions
 * Palette definition: http://www.colourlovers.com/palette/809/Penquins
*/
@font-face {
  font-family: 'BebasNeueRegular';
  src: url("../fonts/BebasNeue/BebasNeue-webfont.eot");
  src: url("../fonts/BebasNeue/BebasNeue-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeue/BebasNeue-webfont.woff") format("woff"), url("../fonts/BebasNeue/BebasNeue-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  font-size: 0.8em;
  font-family: Verdana, Tahoma, sans-serif;
  background-color: #f2f2f2; }

#container {
  background-color: #FFFFFF;
  border: 10px solid #FFFFFF;
  -moz-border-radius: 10px;
  border-radius: 10px;
  min-height: 300px; }

header {
  height: 98px;
  background: #fde15d url("../img/header_bg.png") no-repeat; }
header h1, header img {
  margin: 10px; }
header h1 {
  display: inline;
  font-size: 26px;
  font-family: BebasNeueRegular, sans-serif;
  color: #333; }

#main-menu {
  height: 26px;
  background-color: #fff;
  border-top: 1px solid #ffcb08; }
#main-menu ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none; }
#main-menu ul li {
  margin: 0px;
  padding: 0px;
  float: left;
  border-right: 1px dotted #c3c3c3; }
#main-menu ul a {
  color: #000;
  padding: 5px 10px;
  display: block;
  font-size: 14px; }
#main-menu ul a:hover, #main-menu ul ul#nav_links a.active {
  color: #ff0000;
  background-color: #fffae1; }

#main {
  height: auto;
  min-height: 500px;
  padding: 10px 40px 10px 40px;
  background-color: #fff;
  border-top: 1px solid #ffcb08;
  border-bottom: 2px solid #ffcb08; }

footer {
  height: 30px;
  border-top: 1px solid #fff;
  background-color: #fde15d;
  text-align: center;
  padding-top: 8px; }

#calendar, #employee_calendar {
  width: auto;
  max-width: 1000px;
  margin-bottom: 2em; }

/* Modifications apart from training */
#main h1, #main h2 {
  border-bottom: 2px solid #555;
  margin: 20px;
  margin-left: -15px;
  font: 22px BebasNeueRegular, sans-serif; }

#main h2 {
  font: 20px BebasNeueRegular, sans-serif;
  border-bottom: 2px solid #555;
  display: inline-block; }

.float-box {
  float: left;
  padding-right: 20px;
  margin: 4px 20px; }

.narrow-box {
  max-width: 350px;
  white-space: normal;
  word-wrap: break-word; }

.box {
  padding: 20px;
  margin: 10px;
  background-color: #CBD8A9;
  text-align: justify; }

.transparent {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5; }

.spacer {
  margin: 15px 5px; }

.wrap {
  word-wrap: break-word; }

.margin-center {
  margin-left: auto;
  margin-right: auto; }

.centered {
  text-align: center !important; }

.verical-spacer {
  margin-top: 5em; }

.right {
  float: right;
  margin-right: 20px; }

.clickable {
  cursor: pointer; }
