.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
    height: 300px;
}

.custom-combobox-input {
    background-color: rgb(255, 255, 255) ;
    border-bottom-left-radius: 3px ;
    border-bottom-right-radius: 3px ;
    border-collapse: collapse ;
    border-image-outset: 0px ;
    border-image-repeat: stretch ;
    border-image-slice: 100% ;
    border-image-source: none ;
    border-image-width: 1 ;
    border-top-left-radius: 3px ;
    border-top-right-radius: 3px ;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset ;
    color: rgb(85, 85, 85) ;
    cursor: auto ;
    display: inline-block ;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif ;
    font-size: 14px ;
    font-stretch: normal ;
    font-style: normal ;
    font-variant-caps: normal ;
    font-variant-ligatures: normal ;
    font-variant-numeric: normal ;
    font-weight: normal ;
    height: 20px ;
    letter-spacing: normal ;
    line-height: 20px ;
    margin: 0px 0px 9px;
    padding: 4px 6px;
    text-align: start ;
    text-indent: 0px ;
    text-rendering: auto ;
    text-shadow: none ;
    text-transform: none ;
    transition-delay: 0s, 0s ;
    transition-duration: 0.2s, 0.2s ;
    transition-property: border, box-shadow ;
    transition-timing-function: linear, linear ;
    vertical-align: middle ;
    width: 206px ;
    word-spacing: 0px ;
    writing-mode: horizontal-tb ;
    -webkit-appearance: none ;
    -webkit-rtl-ordering: logical ;
    -webkit-user-select: text ;
    -webkit-border-image: none ;
}
