/** Table for displaying formated data, reports */
.data-table {
  border: 1px solid black;
  border-radius: 4px;
  background-color: #ebebeb;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.75);
  margin: 10px 2px;
  font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
  padding: 0; }

.data-table caption {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 6px; }

.data-table thead {
  background-color: #fcf1c0;
  border-bottom: 2px solid #333;
  margin-bottom: 10px; }

.data-table thead td, .data-table thead th {
  border-width: 0; }

.data-table thead tr:last-of-type th {
  padding-bottom: 15px;
  border-bottom: 2px solid black; }

.data-table thead td {
  border-top-color: #444; }

.data-table th {
  padding: 5px; }

.data-table tbody th {
  background-color: #fcf1c0;
  border-right: 1px solid #333;
  margin-right: 10px; }

.data-table tbody {
  border-left: 1px solid #555;
  border-right: 1px solid #555;
  padding: 4px; }

.data-table td {
  padding: 2px 10px;
  text-align: left;
  font-size: 14px; }

.data-table tbody tr:hover td {
  background-color: #E5E0AE !important; }

.data-table tbody .not-billed:hover {
  color: #111; }

.data-table tfoot {
  border-top: 1px solid #333;
  border-bottom: 2px solid #333;
  margin-top: 10px; }

.data-table tfoot th, .data-table tfoot td {
  font-weight: bold;
  background-color: #CBD8A9;
  border-width: 0; }

.new_section td {
  border-top: 1px solid #555; }

/** Color codes for table rows **/
.not-billed {
  background-color: #BE2213;
  color: #fff; }

.billed {
  background-color: #A7CC95;
  color: #111; }

caption {
  font-size: 16px;
  text-align: center;
  margin-bottom: 6px; }

.tablesorter thead th {
  cursor: pointer; }
